name: Deploy docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install MkDocs dependencies
        run: |
          pip install \
            mkdocs-material \
            mkdocs-minify-plugin \
            pymdown-extensions

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
